  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ng-class="{'active': state.includes('home.*')}"><a ui-sref="home">Home</a></li>
          <li ng-class="{'active': state.includes('analysis')}"><a ui-sref="analysis">Analysis</a></li>
          <li ng-class="{'active': state.includes('monitor')}"><a ui-sref="monitor">Monitor</a></li>
        </ul>
       
      </div>
    </div>
  </nav>
  